body{
    background-color:rgb(126, 91, 38);
}

.school-name{
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color:  #132c4d;
    margin-bottom: 20px;
}
.school-logo{
width: 600px;    
display: block;
margin-left: auto;
margin-right: auto;
width: 500px;
}

.computer-science{
    text-decoration: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #b6975d;
    color: #00357a;
    width:300px;
    border-radius: 5px;
    border: 2px solid;
    margin-left: 580px;
    margin-bottom: 200px;
    

}

.info{
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.footer{
background-color: #00357a;
margin-bottom: 20px;
margin-top: 20px;
}
.more-details{
    color: white;
    display: inline-block;
    font-size: 18px;
    margin-left: 50px;
    vertical-align: top;
}
.details{
    color:rgb(203, 137, 38);
    font-weight: bolder;
    font-size: 18px;
    font-family:sans-serif;
    vertical-align: top;
} 

.school-info{
    color: white;
    text-decoration: none;
    vertical-align: bottom;
}
.school-info:hover{
    color:rgb(252, 153, 5);   
    opacity: 0.5;
    cursor: pointer;
    
}
.contact{
    color:rgb(203, 137, 38);
    font-weight: bolder;
    font-size: 18px;
    font-family:sans-serif;
    margin-top: 40px;
    margin-bottom: 5px;
    display: inline-block;
}
.social-media{
    text-align: right;
    color:rgb(203, 137, 38);
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.component{
    margin-right: 80px;
    margin-left: 80px;
}

.fa{
padding: 10px;
font-size: 10px;
width: 20px;
margin-left: 25px;
margin-top: 5px;
text-align: center;
text-decoration: none;
background-color:black;
color:white;
}

.fa:hover{
    background-color: white;
    color: black;
    transition: 0.25s;
}

